.list {
  display: flex;
}

.item {
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #2f4f4f;

  &Active {
    composes: link;
    color: black;
  }
}
