.list {
  display: flex;
}

.item {
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: 250ms;

  &Active {
    composes: link;
    color: #2196f3;
  }

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
